body {
  margin: 0;
  padding: 0;
  font: 21px/1.5 Arial, sans-serif;
  background-color: lightgray;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 20vh;
  border: 2px solid black;
  background-color: #fff;
}


h1 {
  font-size: 25px;
  padding-left: 20px;
}

.headline {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}

.clear {
  background: lightgray;
  text-align: center;
  padding: 1px;
}

.input-field {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.field-input {
  color: grey;
  width: 80%;
  height: 100%;
  border: 0px solid;
  outline: none;
  font-size: 18px;
}

.refresh-image {
  padding-right: 20px;
  width: 20px;
  height: auto;
}

.trash-image {
  width: 20px;
  height: auto;
  margin-top: 15px;
  cursor: pointer;
}

.inner-main-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
  min-height: 60px;
  border-bottom: 1px solid lightgray;

}

.section-1 {
  display: flex;
  gap: 27px;
}

.label {
  margin-top: 8px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-top: 18px;
}
